<div class="wrapper">
    <div class="cube">
        <div class="face face--front space"></div>
        <div class="face face--right space"></div>
        <div class="face face--back space"></div>
        <div class="face face--left space"></div>
        <div class="face face--top space"></div>
        <div class="face face--bottom space"></div>
    </div>
    <div class="cube">
        <div class="face face--front mind"></div>
        <div class="face face--right mind"></div>
        <div class="face face--back mind"></div>
        <div class="face face--left mind"></div>
        <div class="face face--top mind"></div>
        <div class="face face--bottom mind"></div>
    </div>
    <div class="cube">
        <div class="face face--front soul"></div>
        <div class="face face--right soul"></div>
        <div class="face face--back soul"></div>
        <div class="face face--left soul"></div>
        <div class="face face--top soul"></div>
        <div class="face face--bottom soul"></div>
    </div>
    <div class="cube">
        <div class="face face--front reality"></div>
        <div class="face face--right reality"></div>
        <div class="face face--back reality"></div>
        <div class="face face--left reality"></div>
        <div class="face face--top reality"></div>
        <div class="face face--bottom reality"></div>
    </div>
    <div class="cube">
        <div class="face face--front time"></div>
        <div class="face face--right time"></div>
        <div class="face face--back time"></div>
        <div class="face face--left time"></div>
        <div class="face face--top time"></div>
        <div class="face face--bottom time"></div>
    </div>
    <div class="cube">
        <div class="face face--front power"></div>
        <div class="face face--right power"></div>
        <div class="face face--back power"></div>
        <div class="face face--left power"></div>
        <div class="face face--top power"></div>
        <div class="face face--bottom power"></div>
    </div>
</div>