<table class="text-white w-full relative">
    <thead>
        <tr>
            <th class="p-3 text-md space-x-1 text-white">Name</th>
        </tr>
    </thead>

    @for (item of _typeInfo.items; track index; let index = $index) {
    <tr id="table-row">
        <td class="p-3 text-sm">
            <strong class=" text-red-500">{{ index + 1 }}. </strong>
            <span appSplit [strValue]="item?.name" [charToSplit]="'#'" [alternativeText]="'No name available'"></span>
        </td>
    </tr>
    } @empty {
    <p class="p-3 text-sm">No information available</p>
    }
</table>