<form (ngSubmit)="onSubmit()">
    <div class="flex flex-col gap-5 items-center pt-3">
        <img class="rounded-sm" src="../../assets/images/marvel-logo.png"
            alt="Logomarca da Marvel com fundo vermelho e letras brancas, todas em caixa alta" width="300"
            (load)="onLoadImage()" />
        @if (imageLoaded) {

        <div class="flex justify-center gap-2 px-1 h-[40px] w-full">
            <input [formControl]="control" class="w-[510px] px-3 py-1 rounded-l-full" type="search"
                placeholder="Insira o nome do personagem" />
            <button
                class="flex items-center justify-center bg-red-600 min-w-[74px] py-2 px-3 rounded-r-full text-white font-[500] hover:bg-red-700 transition ease-in-out">
                @if (loading) {
                <mat-spinner class="mb-1" strokeWidth="3" diameter="25" />
                } @else {
                <span class="mb-1">Buscar</span>
                }
            </button>
        </div>
        } @if (showErrorMessage) {
        <small class="text-red-500 -mt-3 font-mono text-sm">Insira o nome do personagem que deseja buscar</small>
        }
    </div>
</form>

@if (showHeroNotFoundMessage) {
<h1 class="text-center text-white text-2xl font-mono font-semibold mt-20">
    Ops! <i>Stan Lee</i> não criou este personagem.
</h1>
} @if (showHeroInfo) {
<app-character-description [character]="character" />
}