@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
  font-family: monospace, "Helvetica Neue", sans-serif;
}

/* Personalização mat-progress-spinner */
.mdc-circular-progress__indeterminate-circle-graphic {
  stroke: #fff !important;
}

/* Personalização snack-bar */
.mat-mdc-snack-bar-label .mdc-snackbar__label {
  color: #fff !important;
  background-color: #347feb !important;
  font-weight: 500 !important;
  text-align: center;
}

/* Personalização snack-bar */
.mat-mdc-snack-bar-handset .mdc-snackbar__surface {
  padding: 0 !important;
}

/* Personalização mat-dialog */
.mdc-dialog__container {
  margin: 1rem !important;
}
