@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mdc-circular-progress__indeterminate-circle-graphic {
  stroke: #fff !important;
}

.mat-mdc-snack-bar-label .mdc-snackbar__label {
  color: #fff !important;
  background-color: #347feb !important;
  font-weight: 500 !important;
  text-align: center;
}

.mat-mdc-snack-bar-handset .mdc-snackbar__surface {
  padding: 0 !important;
}
